@import '../../styles/colors';

.TdCheck {
  color: $white;
  height: 1em;
  width: 1em;
  border-radius: 5%;
  border: 0.1em solid $black;
  background-color: $fossil;
  cursor: pointer;
  min-width: 1em;
  padding: 0.3em;
}
