@import '../../styles/colors.scss';

.TaskInput {
  position: relative;

  & > input {
    background-color: $charcoal;
    border: 1px solid $black;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: $white;
    padding: 0.7rem;
    padding-left: 2rem;
    width: 100%;
    & > ::placeholder {
      color: $smoke;
      opacity: 1;
    }
  }

  & > .icon {
    left: 0.7rem;
    top: 0.7rem;
    position: absolute;
    color: $smoke;
  }
}
