@import '../../styles/colors.scss';

.Color {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  .color {
    padding: 1rem;
    &::before {
      content: '';
      display: block;
      height: 100px;
      margin-bottom: 0.5rem;
      min-width: 200px;
    }
  }

  .black::before {
    background-color: $black;
  }
  .charcoal::before {
    background-color: $charcoal;
  }
  .anchor::before {
    background-color: $anchor;
  }
  .smoke::before {
    background-color: $smoke;
  }
  .white::before {
    background-color: $white;
  }
}
