@import '../../styles/colors.scss';

.TaskItemMenu.dialog {
  background-color: $anchor;
  position: absolute;
  right: 0;
  padding: 0.5rem 0 0.5rem 1rem;
  top: -0.5rem;
  min-width: 8rem;

  & > .no,
  & > .yes {
    cursor: pointer;
  }
}

.TaskItemMenu {
  flex-grow: 0;
  min-width: 2.5rem;
  display: flex;
  justify-content: space-between;

  & > .menu-icon {
    cursor: pointer;
    display: none;
  }
  & > .menu-icon.show {
    display: block;
  }
}
