@import '../../styles/colors.scss';

.TaskItem {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  padding: 0.25rem;

  &:hover {
    background-color: $charcoal;
  }

  & > .content {
    flex-grow: 1;
    padding: 0.1rem 1rem;
    cursor: default;
  }
}
