@import '../../styles/colors.scss';

.TaskItemMenu {
  flex-grow: 0;
  min-width: 2.5rem;
  display: flex;
  justify-content: space-between;

  position: absolute;
  right: 0;
  top: 0rem;
  background-color: $charcoal;
  padding: 0.4rem 1rem 0.3rem 1rem;

  & > .menu-icon {
    cursor: pointer;
    display: none;
  }
  & > .menu-icon.show {
    display: block;
  }
}

.TaskItemMenu.dialog {
  min-width: 8rem;
  cursor: default;

  & > .no,
  & > .yes {
    cursor: pointer;
    font-size: 1.1em;
  }
}
